<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Stocks</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Company</th>
                <th>Last close price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.get_random_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>